### https://raw.github.com/github/gitignore/8edb8a95c4c4b3dce71a378aaaf89275510b9cef/Terraform.gitignore

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

### misc ###
/bin/mitamae*
/config/.vim/view
