[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "home/.cache/dein/repos/github.com/Shougo/dein.vim"]
	path = home/.cache/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
