[user]
	name = izumin5210
	email = masayuki@izumin.info
[core]
	autocrlf = input
	editor = vim
[color]
	ui = true
[github]
	user = izumin5210
[alias]
    st = status --branch --short
    co = checkout
    cb = checkout -b
    sta = git-sta
    std = git-std
    ste = git-ste
    logg = log --stat --pretty=format:'%C(yellow)%h %C(cyan)%ar %C(magenta)%an%n%C(white)%s %Cred%d'

