[include]
    path = ~/.gitconfig.local
[user]
    name = izumin5210
    email = m@izum.in
[core]
    autocrlf = input
    editor = $EDITOR
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[github]
    user = izumin5210
    privatekey = /Users/izumin/.ssh/id_rsa.github
[alias]
    co = checkout
    cb = checkout -b
    cm = checkout master
    logg = log --stat --pretty=format:'%C(yellow)%h %C(cyan)%ar %C(magenta)%an%n%C(white)%s %Cred%d'
    graph = log --graph --decorate --oneline
    cv = commit -v
    ca = commit --amend
    cam = commit --amend -m
    ic = commit --allow-empty -m 'Initial commit'
    rbm = rebase master
    mm = merge master
    wc = wip-commit
    pr = !hub browse -- compare/$(git symbolic-ref --short HEAD)'?'expand=1'&'body=%23%23%20WHY%0A%0A%23%23%20WHAT%0A%0A%23%23%20REF%0A%0A
[push]
    default = current
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[ghq]
    root = ~/src
[secrets]
    providers = git secrets --aws-provider
    patterns = [A-Z0-9]{20}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[commit]
    template = ~/.gitcommit-template
