services:
  postgres:
    image: postgres:17@sha256:f337b026cb1fb954a93f2e33a62bf9ea7fffc1dafc1586c53b93922a8d6ee018
    container_name: the-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - the-postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
  mysql:
    image: mysql:8@sha256:b306273d4d36bc1a7f265130c3dd93c0462253af7634203e569add0403a7b273
    container_name: the-mysql
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - the-mysql:/var/lib/mysql
    ports:
      - 3306:3306
  redis:
    image: redis:8@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
    container_name: the-redis
    volumes:
      - the-redis:/data
    ports:
      - 6379:6379

volumes:
  the-postgres:
    name: the-postgres
  the-mysql:
    name: the-mysql
  the-redis:
    name: the-redis
