export CLAUDE_CODE_HOOK_SLACK_BOT_TOKEN="op://Development/claude-code-hook-notify-slack/credential"
export CLAUDE_CODE_HOOK_SLACK_CHANNEL_ID="op://Development/claude-code-hook-notify-slack/channel_id"
