name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE: ghcr.io/${{ github.repository_owner }}/dotfiles
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}:${{ github.sha }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}:laetst
        if: github.ref == 'refs/heads/main'

  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: lua
            cmd: |
              stylua --check -g '*.lua' -- config/{.config,.hammerspoon}
          - name: sh
            cmd: |
              shfmt -i 2 -d bin config/{.bin,.config/zsh} install
    name: format-${{ matrix.name }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.3
      - run: ${{ matrix.cmd }}

  update-aqua-checksums:
    uses: ./.github/workflows/_update-aqua-checksum.yml
    permissions:
      contents: read
    secrets:
      gh-app-id: ${{secrets.UPDATE_AQUA_CHECKSUM_APP_ID}}
      gh-app-private-key: ${{secrets.UPDATE_AQUA_CHECKSUM_APP_PRIVATE_KEY}}
    if: github.event_name == 'pull_request'

  status-check:
    runs-on: ubuntu-latest
    needs:
      - build
      - format
      - update-aqua-checksums
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
