name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      IMAGE: ghcr.io/${{ github.repository_owner }}/dotfiles
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}:${{ github.sha }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE }}:laetst
        if: github.ref == 'refs/heads/main'

  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: lua
            cmd: |
              stylua --check -g '*.lua' -- config/.config
          - name: sh
            cmd: |
              shfmt -i 2 -d config/{.bin,.config/zsh}
    name: format-${{ matrix.name }}
    steps:
      - uses: actions/checkout@v4
      - uses: aquaproj/aqua-installer@v3.0.1
        with:
          aqua_version: v2.28.0
      - run: ${{ matrix.name }}
