# https://aquaproj.github.io/docs/products/update-checksum-workflow/

name: update-aqua-checksum
on:
  pull_request:
    paths:
      - aqua.yaml
      - aqua-checksums.json
      - config/.config/aquaproj-aqua/codespaces/aqua.yaml
      - config/.config/aquaproj-aqua/codespaces/aqua-checksums.json
jobs:
  update-aqua-checksums:
    strategy:
      matrix:
        include:
          - { name: "Repository" }
          - { name: "Codespaces", dir: "config/.config/aquaproj-aqua/codespaces" }
    name: "Update aqua-checksums (${{ matrix.name }})"
    uses: aquaproj/update-checksum-workflow/.github/workflows/update-checksum.yaml@f367004e7f17e99d30297cd9e89afad30ee1f251 # v1.0.0
    permissions:
      contents: read
    with:
      aqua_version: v2.27.3
      prune: true
      working_directory: ${{ matrix.dir }}
    secrets:
      gh_app_id: ${{secrets.UPDATE_AQUA_CHECKSUM_APP_ID}}
      gh_app_private_key: ${{secrets.UPDATE_AQUA_CHECKSUM_APP_PRIVATE_KEY}}
